@{
    ViewBag.Title = "Laboratorio #2";
}
<h2>Seleccione el tipo de Arbol que desea usar</h2>
<h4></h4>
<br>
@Html.ActionLink("Arboles Binarios Paises", "index", "Arbol", null, new { @class = "btn btn-primary" })
<h4></h4>
@Html.ActionLink("Arboles Binarios Cadena", "index", "ArbolCadena", null, new { @class = "btn btn-primary" })
<h4></h4>
@Html.ActionLink("Arboles Binarios Entero", "index", "ArbolEntero", null, new { @class = "btn btn-primary" })